header{
    color:rgb(235, 11, 11);
    background: rgb(100, 224, 224)
}
h1 { text-align: center;
    color:rgba(233, 124, 112, 0.781);
}

nav { text-align: center;
    font-size: 25px;

}

h2{ color:salmon;
    text-align:center;
    font-size:25px;

}
h3{ color:salmon;
    float:left;
    font-size: 40px;
    margin-left: 50px;
}
section{

}

section > p {margin-left: 50px;
    padding:20px;
    padding-left: 40%;
}
section > ul {

}
section > ul > li{
padding:30px;
}
section > ul img {
    
}
article {

}
article > p {

}
article > p h2{

}
* {

}